body {
  padding: 15px;
  background-color: #eeeeee;
  color: #222831;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
hr {
  border-style: none;
  border-bottom-style: groove;
  width: 95%;
  border-width: 1px;
  border-color: #393e46;
}
h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #00adb5;
}
strong {
  color: #00adb5;
}
